.services {
    min-height: 100vh;
    background-color: #EBECEF;

    .servicesContainer {
        width: 80%;
        margin: 60px auto;

        @media (max-width: 767px) {
            width: 90%;
        }

        .buttonsWrapper {
            display: flex;
            justify-content: center;
            gap: 20px;
            margin-bottom: 40px;

            & h3 {
                color: #9e9e9e;
                transition: all .5s ease-in;

                @media (max-width: 767px) {
                    font-size: 30px;
                }
            }

            .servicesBtn {
                cursor: pointer;
                font-size: 30px;
                font-family: 'Federo', sans-serif;
                border: none;
                border-bottom: 3px solid #9e9e9e;
            }

            .serviceBtn_isSelected {
                border-bottom: 3px solid #70c2b7;
                background-color: transparent;
            }
        }

        .canvas {
            margin-top: 100px;
            display: grid;
            grid-template-columns: 40% auto;
            gap: 2%;

            @media (max-width: 767px) {
                display: block;
            }
        }

        .leftSide {
            text-align: center;

            & img {
                width: 80%;
            }
        }

        .rightSide {

            .rightSideTitle {
                font-size: 42px;
                display: block;
                text-align: center;

                @media (max-width: 767px) {
                    margin-top: 40px;
                }
            }

            .servicesIcons {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                text-align: center;
                margin-top: 30px;

                .servCard {
                    flex: 1 1 150px;
                    padding: 20px 0;

                    & img {
                        width: 100px;
                        display: block;
                        margin: 0 auto;
                        margin-bottom: 6px;
                    }

                    .servCardTitle {
                        font-weight: bold;
                    }

                    & p {
                        margin-top: 6px;
                        font-size: 16px;
                    }
                }
            }

            & p {
                margin-top: 30px;
            }
        }

        .DevCanvas {}

        .designCanvas {}
    }
}

.selectedBtn {
    background: -webkit-linear-gradient(#7be29e, #70c2b7, #57a879);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translateY(-8px);
}