.solidHeader {
    width: 80%;
    height: 80px;
    border-radius: 25px;
    background-color: #fff;
    display: flex;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    transition: all 1s ease;

    .logo{
        background-image: url('./assets/vfo_dark.svg');
    }

    @media (max-width: 767px) {
        top: auto;
        bottom: 0;
        transform: translate(-50%, -10%);
        width: 95%;
        border-radius: 20px;
    }
}

.header {
    width: 80%;
    height: 80px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(7px);
    display: flex;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    transition: all 1s ease;

    @media (max-width: 767px) {
        top: auto;
        bottom: 0;
        transform: translate(-50%, -10%);
        width: 95%;
        border-radius: 20px;
    }

    & li {
        color: #fff;
    }

    a {
        color: #000;
    }
}

.headerContainer {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 40px;
    height: 100%;
    background-image: url('./assets/vfo_white.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 1s ease;

    @media (max-width: 767px) {
        display: none;
    }
}

.menu {
    display: flex;

    @media (max-width: 767px) {
        display: none;
    }
}

.menu li {
    margin: auto 30px;
    font-size: 22px;

    &:hover {
        transform: scale(1.07);
        color: #316591;
    }
}

@media screen and (min-width: 1300px) {
    .solidHeader {
        width: 60%;
    }

    .header {
        width: 60%;
    }
}

.phoneMenu {
    display: none;
}

@media (max-width: 767px) {
    .phoneMenu {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}