* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #f2f2f2;
  font-family: 'Roboto Condensed', sans-serif;
}

h2 {
  text-align: center;
  font-size: 82px;
  font-weight: lighter;
  padding-top: 150px;
  color: #9e9e9e;
}

a {
  text-decoration: none;
  color: #aaa;
}

li {
  list-style: none;
}

.container {
  position: relative;
}