.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #222222;
    color: #fff;

    .container {
        width: 80%;
        margin: 0 auto;
        padding: 16px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        .footerTxt {
            margin: auto;
        }

        & img {
            width: 30px;
            margin: 0 6px;
        }
    }

    .emptyMobileSpace {
        display: none;

        @media (max-width: 767px) {
            display: block;
            height: 90px;
            background-color: #131313;
        }
    }
}