.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    .vfoLogo {
        display: none;

        @media (max-width: 767px) {
            display: block;
            width: 30px;
            position: absolute;
            z-index: 2;
            margin-left: 20px;
            margin-top: 20px;
        }
    }

    .socialMedia {
        z-index: 2;
        position: absolute;
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translate(-50%, -50%);

        & img {
            width: 40px;
            margin: 0 10px;
            opacity: 0.5;
            transition: all .2s ease;

            &:hover {
                transform: translateY(-4px);
                opacity: 0.9;
            }
        }

        @media (max-width: 767px) {
            position: absolute;
            bottom: auto;
            top: 40px;

            & img {
                width: 34px;
                opacity: 0.2;

                &:hover {
                    transform: none;
                    opacity: 0.2;
                }
            }
        }
    }
}

.container {
    position: absolute;
    left: -10%;
    width: 120%;
    height: 100vh;
    background-color: #141e33;
}



.container #scene .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.container #scene .layer img {
    position: absolute;
}

.title {
    font-size: 3em;
    color: #b9b9b9;
    position: absolute;
    top: 70%;
    left: 15%;
    z-index: 3;

    @media (max-width: 767px) {
        top: 20%;
        z-index: 0;

        & p {
            font-size: 40px;
        }
    }
}

#layer5 {
    width: 250px;
    transform: translate(50vw, 15vh);
}