#card_img1 {
    background-image: url('./assets/vfo-theme.webp');
}

#card_img2 {
    background-image: url('./assets/number.webp');
}

#card_img3 {
    background-image: url('./assets/mamimoon.webp');
}

#card_img4 {
    background-image: url('./assets/bear.webp');
}

#card_img5 {
    background-image: url('./assets/parallax.webp');
}

#card_img6 {
    background-image: url('./assets/cookies.webp');
}

#card_img7 {
    background-image: url('./assets/todo.webp');
}