#card_img1 {
    background-image: url('./assets/vfo-theme.jpg');
}

#card_img2 {
    background-image: url('./assets/number.jpg');
}

#card_img3 {
    background-image: url('./assets/mamimoon.jpg');
}

#card_img4 {
    background-image: url('./assets/bear.jpg');
}

#card_img5 {
    background-image: url('./assets/parallax.jpg');
}

#card_img6 {
    background-image: url('./assets/cookies.jpg');
}

#card_img7 {
    background-image: url('./assets/todo.jpg');
}